@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&display=swap');

.container2 {
  color: #0f2c0a;
  font-family: 'Lexend Deca', sans-serif;
  padding: 20px;
}

.container2 h2 {
  font-family: 'Lexend Deca', sans-serif;
  color: #6cae3a;
}

.container2 input[type="text"] {
  color: #0f2c0a;
  border: 1px solid #0a87b6;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.container2 form {
  width: 100%;
}

.container2 .form-floating {
  text-align: left;
  padding: 8px;
}

.container2 .form-floating label {
  color: #0f2c0a;
}

.container2 .form-floating:hover {
  background-color: #53bee4;
}

.error-message {
  color: #f1c35a;
  margin: 10px 0;
  font-weight: bold;
}

.container2 button {
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  font-size: 0.8em;
  border-radius: 5px;
  cursor: pointer;
  color: #f7faf9;
  background-color: #53bee4;
  border: none;
  margin: 0;
}

.container2 button:hover {
  background-color: #f1c35a;
  color: #0f2c0a;
}

.container2 p {
  color: red;
  font-size: 1.2em;
  margin: 10px 0;
}

.container2 button {
  display: inline-block;
  gap: 50px;
  padding: 25px 30px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  color: #f7faf9;
  background-color: #53bee4;
  border: none;
  margin: 0 10px 0 0;
}

.container2 button:hover {
  background-color: #f1c35a;
  color: #0f2c0a;
}

.container2 {
  color: #0f2c0a;
  font-family: 'Lexend Deca', sans-serif;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
