@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&display=swap');


.mainpage-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 80px; 
  margin-bottom: -20px; 
  padding-bottom: 0;
  background-color: #f7faf9;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index:0;
}

.mainpage-header {
  width: 100%;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  font-family: 'Lexend Deca', sans-serif;
  align-items: center;
  margin-bottom: 20px;
  background: linear-gradient(to bottom right, #306e12, #6cae3a);
  position: fixed; 
  border-radius: 0; 
  top: 0;
  left: 0;
  right: 0;
  z-index:1000;
}

.mainpage-title {
  font-size: 2em;
  color: #0f2c0a;
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;

}

.mainpage-sub_title {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.2em;
  color: #0a87b6;
  margin: 5px 0 20px;
}

.mainpage-image-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  margin-bottom: 30px;
}

.mainpage-image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.mainpage-image-container img:hover {
  transform: scale(1.05);
  z-index: 10;
}

.mainpage-btns {
  display: flex;
  gap: 10px;
}

.mainpage-button {
  padding: 5px 10px;
  font-size: 0.8em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: #f7faf9;
  background-color: #53bee4;
  border: none;
  margin: 0;
}

.mainpage-button:hover {
  background-color: #f1c35a;
  color: #0f2c0a;
}

.mainpage-footer {
  background-color: #0f2c0a; 
  color: white; 
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.mainpage-footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mainpage-footer-section {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin:0 20px
}

.mainpage-footer-section h4 {
  margin-bottom: 10px;
}

.mainpage-footer-section ul {
  list-style: none;
  padding: 0;
}

.mainpage-footer-section ul li {
  padding: 5px 0;
}

.mainpage-footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #34495e; 
  margin-top: 20px;
  width: 100%;
}