@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.background-cover {
  background-image: url("https://images.unsplash.com/photo-1556801712-76c8eb07bbc9?q=80&w=3125&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

.mainpage-header {
  width: 100%;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  font-family: "Arapey", serif;
  align-items: center;
  margin-bottom: 20px;
  color: #f7faf9;
  background: linear-gradient(to bottom right, #65973a, #6cae3a);
  position: fixed;
  border-radius: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.mainpage-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 120px;
  text-align: center;
}

.mainpage-title {
  font-size: 3em;
  color: #f7faf9;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.mainpage-subtitle {
  font-size: 1.8em;
  color: #f7faf9;
  margin: 0;
  font-family: "Raleway", sans-serif;
  margin: 5px 0 20px;
}

.mainpage-btns {
  display: flex;
  gap: 10px;
}

.mainpage-button {
  padding: 5px 10px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: #f7faf9;
  background-color: #53bee4;
  border: none;
  margin: 0;
}

.mainpage-button:hover {
  background-color: #f1c35a;
  color: #0f2c0a;
}
