.request-list {
  color: #0f2c0a;
  padding: 20px;
}

.request-list h1 {
  color: #6cae3a;
}

.request-list table {
  width: 100%;
  border-collapse: collapse;
}

.request-list th,
.request-list td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #f1c35a;
}

.request-list th {
  background-color: #6cae3a;
  color: white;
}

.request-list tr:hover {
  background-color: #53bee4;
}
